*{
	box-sizing: border-box;
	padding:0px;
	margin: 0px;
	scroll-behavior: smooth;
}
body{
	background-color:  #060607;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-image-height:100%;
	overflow-x: hidden;
}
.homeheader {
    overflow:hidden;
    background-color: black;
    position: relative;
    padding-right: 0 !important;
    height: 1200px;
    color: grey;
}
.pic{
	margin-top: 0;
	float: left;
	height: auto;
	width: 100%;
	background-size: cover;
}
li{
	width:10%;
	float: right;

}
h1{
	position: relative;
	top:50%;
	left:10%;
	color: white;
}
a{
	text-decoration-line: none;
	color:grey;
}


.navbar{
	width: 100%;
	padding:20px;
	position: fixed;
	top:0px;
	text-align: center;
	transition: .5s;
	overflow: hidden;
}
.navbar ul li{
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	color: white;
	font-size: 24px;
	font-family: sans-serif;
	cursor: inherit;
}
.navbar ul li a:hover{
	color: gold;
}

 .skillc
 {
 	height: 600px;
 	width: 100%;
 	background: white;
 	text-align: center;
 }
 .contactc
 {
 	height: 300px;
 	width: 100%;
 	background:black;
 	text-align: center;
 	color: white;
 }
 .aboutc
 {
 	height: 600px;
 	width: 100%;
 	background: white;
 	text-align: center;
 }
.contactc ul {
	position: relative;
	top: 90%;
	left: 83%;
	padding: 0;
	margin: 0;
	transform: translate(-50%, -50%);
	display: flex;
}
.contactc ul li {
	list-style:none;
	margin:0px 5px;
}

.contactc ul li  .fa{
	font-size: 20px;
	line-height: 60px;
	transition: .6s;
	color:black;
}
.contactc ul li .fa:hover{
	color: gold;
	}
.contactc ul li a{
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	transition: .6s;
	box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
@media screen and (max-width: 600px)
{
	.contactc ul {
	position: relative;
	top: 90%;
	left: 78%;
	padding: 0;
	margin: 0;
	transform: translate(-50%, -50%);
	display: flex;
}
h1{
	position: relative;
	top:40%;
	left:9%;
	color: white;
	size: 10px;
}
.homeheader {
    overflow:hidden;
    background-color: black;
    position: relative;
    padding-right: 0 !important;
    height: 900px;
    color: grey;
}
